@charset "ISO-8859-1";
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0c67ae;
}

#title {
    height: 150px;
    width: 400px;
}

#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 85px;
    height: 85px;
    border: 1px solid #0c67ae;
}
.correct {
    border: 2px solid green;
}

button {
    font-size: 20px; /* Increase font size */
    padding: 15px 30px; /* Increase padding */
    min-width: 80px; /* Increase minimum width */
    min-height:80px;
}
